.body {
  background-color: var(--primary-color);
}
.team {
  width: 40%;
}

.planet {
  max-height: 30vh;;
}

.container {
  margin: 5% 15%;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.text > h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.container h3 {
  margin-bottom: 1em;
  color: var(--button-color);
  font-size: 1.8rem;
}

.presentation {
  align-items: center;
  text-align: justify;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  gap: 7rem;
}

.infos {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 22rem;
}
.text {
  max-width: 50%;
}

.infos p:nth-child(2) {
  font-size: 1.5em;
}
